snippet comment_separator_1 "# ======..."
// ════════════════════════════════════════════════════════════════════════════
endsnippet
snippet comment_separator_2 "# ------..."
// ────────────────────────────────────────────────────────────────────────────
endsnippet
